<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>gungun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/Popper.js' %}"></script>
    <script src="{% static 'jQuery/jQuery.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <style>
        .option img {
            width: 25px;
            height: 25px;
        }
        .option a {
            color: black;
            font-weight: bold;
        }

        .option a:hover {
            text-decoration: none;
        }

        .post a {
            color:inherit;
        }

        .face {
<!--            height: 220px;-->
<!--            line-height: 220px;-->
        }

        .face a{
            text-decoration: none;
            /*color: black;*/
        }

        .face a:hover {
            text-decoration: none;
        }

        .contributor img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .search{
            width: 100%;
            display: flex;
            margin-top: 30px;
        }

        .search input{
            width: 70%;
            height: 30px;
            outline: none;
            border: 1px solid #00B2EE;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .search button{
            height: 30px;
            background-color: #00B2EE;
            color: white;
            border-style: none;
            outline: none;
        }

        .search button i{
            font-style: normal;
        }

        .search button:hover{
            font-size: 16px;
        }

        .login img {
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <header>
        <div class="container-fluid bg-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <img src="{% static 'images/logo.png' %}" alt="" class="rounded-circle logo">
                    </div>
                    <div class="col-md-2 text-center">
                        <h1 class="mt-4 ml-1">gungun</h1>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="search">
                            <input type="text" placeholder="请输入.." name="" id="searchText" value="" />
                            <button id="searchBtn"><i>搜索</i></button>
                        </div>
                    </div>
                    <div class="dropdown login mt-4 col-md-3">
                        <img src="{{ user.portrait }}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_info/">
                                <img src="{% static 'images/my_info.png' %}" alt="">
                                我的资料
                            </a>
                            <a class="dropdown-item" href="/personal_portrait/">
                                <img src="{% static 'images/my_portrait.png' %}" alt="">
                                修改头像
                            </a>
                            <a class="dropdown-item" href="/personal_dynamic/">
                                <img src="{% static 'images/my_dynamic.png' %}" alt="">
                                我的动态
                            </a>
                            <a class="dropdown-item" href="/personal_follow/">
                                <img src="{% static 'images/my_follows.png' %}" alt="">
                                我的关注
                            </a>
                            <a class="dropdown-item" href="/personal_fans/">
                                <img src="{% static 'images/my_fans.png' %}" alt="">
                                我的粉丝
                            </a>
                            <a class="dropdown-item" href="/personal_privacy/">
                                <img src="{% static 'images/privacy_setting.png' %}" alt="">
                                隐私设置
                            </a>
                            <a class="dropdown-item" href="/personal_password/">
                                <img src="{% static 'images/change_password.png' %}" alt="">
                                修改密码
                            </a>
                            <a class="dropdown-item" href="/personal_face/">
                                <img src="{% static 'images/face.png' %}" alt="">
                                表情包管理
                            </a>
                        </div>
                    </div>
                    <div class="dropdown message mt-4 col-md-2">
                        <img src="{% static 'images/message.png' %}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            我的消息
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_message/">
                                <div class="number text-center">{{ user.un_read_reply_num }}</div>
                                查看新回复
                            </a>
                            <a class="dropdown-item" href="/personal_message?type=2">
                                <div class="number text-center">{{ user.un_read_fans_num }}</div>
                                查看新粉丝
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 mt-4">
                        <div class="logout mt-2">
                            <a href="/logout/">
                                <img src="{% static 'images/logout.png' %}" alt="">
                                <span>退出</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mt-4">
        <div class="container">
            <div class="row">
                <div class="content col-md-10">
                    <div class="info">
                        <h3 class="font-weight-bold ml-5">表情包搜索结果</h3>
                        <span class="num d-block ml-5 mt-3 mb-2">共 {{ num }} 张</span>
                    </div>
                    <div class="list ml-5">
                        {% for face in faces %}
                            <div class="face border-bottom mt-5">
                                <div class="face-info1 row">
                                    <img src="{{ face.src }}" alt="" class="mr-5">
                                    <span class="mr-5 mt-5">被添加次数: {{ face.add_num }}</span>
                                </div>
                                <div class="face-info2 mt-4 mb-2 row">
                                    <span class="mr-5 contributor mt-1">
                                        贡献者:
                                        <a href="/personal_page_by_other/{{ face.contributor.id }}/">
                                            <img src="{{ face.contributor.portrait }}" alt="" class="ml-2">
                                            {{ face.contributor.username }}
                                        </a>
                                    </span>
                                    <button class="btn btn-primary ml-3" id="add" data="{{ face.id }}">加入我的表情包</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-4">
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" target="_self" href="/face_list?searchText={{ searchText }}&page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                    </li>
                {% endif %}
                <li class="page-item"><a class="page-link" target="_self" href="/face_list?searchText={{ searchText }}&page={{ page }}">{{ page }}</a></li>
                {% if page < page_num %}
                    <li class="page-item"><a class="page-link" target="_self" href="/face_list?searchText={{ searchText }}&page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                {% endif %}
                {% if page|add:1 < page_num %}
                    <li class="page-item"><a class="page-link" target="_self" href="/face_list?searchText={{ searchText }}&page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                {% endif %}
                {% if page < page_num %}
                    <li class="page-item">
                        <a class="page-link" target="_self" href="/face_list?searchText={{ searchText }}&page={{ page|add:1 }}">下一页</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </footer>
    <script>
        let logo = document.getElementsByClassName("logo");
        let title = document.getElementsByTagName("h1");
        let logoArr = Array.from(logo);
        let titleArr = Array.from(title);

        function fun1(e) {
            window.location.href = '/index/';
        }

        function fun2(e) {
            e.target.style.cursor = "pointer";
        }

        for (let i = 0; i < logoArr.length; i++) {
            logoArr[i].addEventListener("click", fun1);
            logoArr[i].addEventListener("mouseover", fun2);
        }

        for (let i = 0; i < titleArr.length; i++) {
            titleArr[i].addEventListener("click", fun1);
            titleArr[i].addEventListener("mouseover", fun2);
        }

        let searchBtn = document.getElementById("searchBtn");
        let searchText = document.getElementById("searchText");
        searchBtn.addEventListener("click", (e)=>{
            window.location.href = "/search?searchText=" + searchText.value;
        });

        $("#add").click((e)=>{
            $.ajax({
                url: "/add_face?id=" + e.currentTarget.getAttribute("data"),
                type: "GET",
                success: function(re) {
                    if(re.status == '1') {
                        e.currentTarget.innerText = "已添加进我的表情包";
                    }
                }
            });
        });
    </script>
</body>
</html>