<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>gungun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/Popper.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'jQuery/jQuery.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <style>
        .classification img {
            width: 25px;
            height: 25px;
        }
        .classification a {
            color: black;
            font-weight: bold;
        }

        .classification a:hover {
            text-decoration: none;
        }

        .post a {
            color:inherit;
        }

        .search{
            width: 100%;
            display: flex;
            margin-top: 30px;
        }

        .search input{
            width: 70%;
            height: 30px;
            outline: none;
            border: 1px solid #00B2EE;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .search button{
            height: 30px;
            background-color: #00B2EE;
            color: white;
            border-style: none;
            outline: none;
        }

        .search button i{
            font-style: normal;
        }

        .search button:hover{
            font-size: 16px;
        }

        .login img {
            border-radius: 50%;
        }

        .operation img {
            width: 50px;
            height: 50px;

        }

        .publish-topic {
            width: 360px;
            height: 360px;
            border: #adb5bd solid 1px;
            position: absolute;
            top: 600px;
            margin-left: auto;
            margin-right: auto;
            background: white;
            display: none;
        }

        .publish-topic .titleDiv {
            position: absolute;
            margin-left: 15%;
            margin-top: 70px;
        }

        .publish-topic .submitDiv {
            position: absolute;
            margin-left: 35%;
            margin-top: 200px;
        }

        .publish-topic input {
            width: 250px;
        }

        .publish-topic button {
            width: 70px;
        }
    </style>
    <base target="_blank">
</head>
<body>
    <header>
        <div class="container-fluid bg-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <img src="{% static 'images/logo.png' %}" alt="" class="rounded-circle logo">
                    </div>
                    <div class="col-md-2 text-center">
                        <h1 class="mt-4 ml-1">gungun</h1>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="search">
                            <input type="text" placeholder="请输入.." name="" id="searchText" value="" />
                            <button id="searchBtn"><i>搜索</i></button>
                        </div>
                    </div>
                    <div class="dropdown login mt-4 col-md-3">
                        <img src="{{ user.portrait }}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_info/">
                                <img src="{% static 'images/my_info.png' %}" alt="">
                                我的资料
                            </a>
                            <a class="dropdown-item" href="/personal_portrait/">
                                <img src="{% static 'images/my_portrait.png' %}" alt="">
                                修改头像
                            </a>
                            <a class="dropdown-item" href="/personal_dynamic/">
                                <img src="{% static 'images/my_dynamic.png' %}" alt="">
                                我的动态
                            </a>
                            <a class="dropdown-item" href="/personal_follow/">
                                <img src="{% static 'images/my_follows.png' %}" alt="">
                                我的关注
                            </a>
                            <a class="dropdown-item" href="/personal_fans/">
                                <img src="{% static 'images/my_fans.png' %}" alt="">
                                我的粉丝
                            </a>
                            <a class="dropdown-item" href="/personal_privacy/">
                                <img src="{% static 'images/privacy_setting.png' %}" alt="">
                                隐私设置
                            </a>
                            <a class="dropdown-item" href="/personal_password/">
                                <img src="{% static 'images/change_password.png' %}" alt="">
                                修改密码
                            </a>
                        </div>
                    </div>
                    <div class="dropdown message mt-4 col-md-2">
                        <img src="{% static 'images/message.png' %}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            我的消息
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_message/">
                                <div class="number text-center">{{ user.un_read_reply_num }}</div>
                                查看新回复
                            </a>
                            <a class="dropdown-item" href="/personal_message?type=2">
                                <div class="number text-center">{{ user.un_read_fans_num }}</div>
                                查看新粉丝
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 mt-4">
                        <div class="logout mt-2">
                            <a href="/logout/">
                                <img src="{% static 'images/logout.png' %}" alt="">
                                <span>退出</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mt-4">
        <div class="container">
            <div class="row">
                <div class="classification col-md-2">
                    <h2 class="font-weight-bold">看板</h2>
                    <div class="mt-4">
                        <img src="{% static 'images/live.png' %}" alt="">
                        <a href="/classification/live/" target="_self" class="font-weight-lighter">生活专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/study.png' %}" alt="">
                        <a href="/classification/study/" target="_self" class="font-weight-lighter">学习专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/job.png' %}" alt="">
                        <a href="/classification/job/" target="_self" class="font-weight-lighter">就业专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/chat.png' %}" alt="">
                        <a href="/classification/chat/" target="_self" class="font-weight-lighter">闲聊专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <a href="/classification/news/" target="_self" class="font-weight-lighter">时事专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/sport.png' %}" alt="">
                        <a href="/classification/sport/" target="_self" class="font-weight-lighter">运动专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/game.png' %}" alt="">
                        <a href="/classification/game/" target="_self" class="font-weight-lighter">游戏专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/movie.png' %}" alt="">
                        <a href="/classification/movie/" target="_self" class="font-weight-lighter">电影专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/music.png' %}" alt="">
                        <a href="/classification/music/" target="_self" class="font-weight-lighter">音乐专区</a>
                    </div>
                    <div class="mt-4">
                        <img src="{% static 'images/tour.png' %}" alt="">
                        <a href="/classification/tour/" target="_self" class="font-weight-lighter">旅游专区</a>
                    </div>
                    <div class="mt-5 operation">
                        <div class="publish mt-3">
                            <a href="/publish/" target="_self" >
                                <img src="{% static 'images/publish_post.png' %}" alt="">
                                <p class="ml-2">发帖</p>
                            </a>
                        </div>
                        <div class="refresh mt-5">
                            <a href="/index/" target="_self" >
                                <img src="{% static 'images/refresh.png' %}" alt="">
                                <p class="ml-2">刷新</p>
                            </a>
                        </div>
                        <div class="topic mt-5">
                            <img src="{% static 'images/topic.png' %}" alt="">
                            <p class="mt-1 font-weight-bold">发起话题</p>
                        </div>
                    </div>
                </div>
                <div class="content col-md-10">
                    <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for banner in banners %}
                                {% if forloop.counter == 1 %}
                                    <div class="carousel-item active">
                                        <a href="{{ banner.href }}">
                                            <img src="{{ banner.banner_img }}" class="d-block w-100" alt="...">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>{{ banner.title }}</h5>
                                                <p>{{ banner.content }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <a href="{{ banner.href }}">
                                            <img src="{{ banner.banner_img }}" class="d-block w-100" alt="...">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>{{ banner.title }}</h5>
                                                <p>{{ banner.content }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="new">
                        <h2 class="font-weight-bold">最新</h2>
                        {% for post in posts %}
                            <div class="post border-top">
                                <a href="/post/{{ post.id }}/">
                                    <p class="title mt-1">{{ post.title }}</p>
                                </a>
                                <div class="info1">
                                    <a href="/classification/{{ post.type2 }}/" class="info-class mr-4">{{ post.type }}</a>
                                    <a href="/personal_page_by_other/{{ post.author.id }}/" class="info-user mr-4">{{ post.author.username }}</a>
                                    <span class="info-time mr-4">{{ post.publish_time|date:'Y-m-d H:i' }}</span>
                                </div>
                                <div class="info2">
                                    浏览:&nbsp;<span class="info-clickNum mr-4">{{ post.click_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    回复:&nbsp;<span class="info-replyNum">{{ post.reply_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!--                                点赞:&nbsp;<span class="info-favNum">34</span>-->
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="publish-topic">
                <div class="titleDiv">
                    <input type="text" id="topicName" maxlength=30 placeholder="话题名称 不超过30个字符"></input>
                </div>
                <div class="submitDiv">
                    <button id="publishTopic" class="btn-primary">确认</button>
                </div>
            </div>
        </div>
    </main>
    <script>
        let logo = document.getElementsByClassName("logo");
        let title = document.getElementsByTagName("h1");
        let logoArr = Array.from(logo);
        let titleArr = Array.from(title);

        function fun1(e) {
            window.location.href = '/index/';
        }

        function fun2(e) {
            e.target.style.cursor = "pointer";
        }

        for (let i = 0; i < logoArr.length; i++) {
            logoArr[i].addEventListener("click", fun1);
            logoArr[i].addEventListener("mouseover", fun2);
        }

        for (let i = 0; i < titleArr.length; i++) {
            titleArr[i].addEventListener("click", fun1);
            titleArr[i].addEventListener("mouseover", fun2);
        }

        let searchBtn = document.getElementById("searchBtn");
        let searchText = document.getElementById("searchText");
        searchBtn.addEventListener("click", (e)=>{
            window.location.href = "/search?searchText=" + searchText.value;
        });

        let topic = document.getElementsByClassName("topic")[0];
        topic.addEventListener("click", (e)=>{
            let publishTopic = document.getElementsByClassName("publish-topic")[0];
            if (publishTopic.style.display == "block") {
                publishTopic.style.display = "none";
            } else {
                publishTopic.style.display = "block";
            }
        })

        let publishTopic = document.getElementById("publishTopic");
        publishTopic.addEventListener("click", (e)=>{
            data = {"name": document.getElementById("topicName").value};
            $.ajax({
                url: "/publish_topic/",
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json",
                success: function(re) {
                    if(re.status == '1') {
                        window.location.href = "/topic?id=" + re.topic_id;
                    } else if (re.status == '2'){
                        alert("该话题已存在！");
                        window.location.href = "/topic?id=" + re.topic_id;
                    }
                }
            });
        });
    </script>
</body>
</html>