<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>gungun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/Popper.js' %}"></script>
    <script src="{% static 'jQuery/jQuery.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <style>
        .post a {
            color:inherit;
        }

        .portrait img {
            width: 100px;
            height: 100px;
        }

        .user-info img {
            width: 25px;
            height: 25px;
        }

        .nav a {
            color:black;
        }

        .follow, .fans {
            height: 150px;
            line-height: 150px;
        }

        .follow:hover, .fans:hover {
            background: #d6d8d9;
        }

        .follow a, .fans a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
        }

        .follow a:hover, .fans a:hover {
            text-decoration: none;
        }

        .follow img, .fans img{
            width: 80px;
            height: 80px;
        }

        .search{
            width: 100%;
            display: flex;
            margin-top: 30px;
        }

        .search input{
            width: 70%;
            height: 30px;
            outline: none;
            border: 1px solid #00B2EE;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .search button{
            height: 30px;
            background-color: #00B2EE;
            color: white;
            border-style: none;
            outline: none;
        }

        .search button i{
            font-style: normal;
        }

        .search button:hover{
            font-size: 16px;
        }

        .login img, .portrait img {
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <header>
        <div class="container-fluid bg-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <img src="{% static 'images/logo.png' %}" alt="" class="rounded-circle logo">
                    </div>
                    <div class="col-md-2 text-center">
                        <h1 class="mt-4 ml-1">gungun</h1>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="search">
                            <input type="text" placeholder="请输入.." name="" id="searchText" value="" />
                            <button id="searchBtn"><i>搜索</i></button>
                        </div>
                    </div>
                    <div class="dropdown login mt-4 col-md-3">
                        <img src="{{ user.portrait }}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_info/">
                                <img src="{% static 'images/my_info.png' %}" alt="">
                                我的资料
                            </a>
                            <a class="dropdown-item" href="/personal_portrait/">
                                <img src="{% static 'images/my_portrait.png' %}" alt="">
                                修改头像
                            </a>
                            <a class="dropdown-item" href="/personal_dynamic/">
                                <img src="{% static 'images/my_dynamic.png' %}" alt="">
                                我的动态
                            </a>
                            <a class="dropdown-item" href="/personal_follow/">
                                <img src="{% static 'images/my_follows.png' %}" alt="">
                                我的关注
                            </a>
                            <a class="dropdown-item" href="/personal_fans/">
                                <img src="{% static 'images/my_fans.png' %}" alt="">
                                我的粉丝
                            </a>
                            <a class="dropdown-item" href="/personal_privacy/">
                                <img src="{% static 'images/privacy_setting.png' %}" alt="">
                                隐私设置
                            </a>
                            <a class="dropdown-item" href="/personal_password/">
                                <img src="{% static 'images/change_password.png' %}" alt="">
                                修改密码
                            </a>
                        </div>
                    </div>
                    <div class="dropdown message mt-4 col-md-2">
                        <img src="{% static 'images/message.png' %}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            我的消息
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_message/">
                                <div class="number text-center">{{ user.un_read_reply_num }}</div>
                                查看新回复
                            </a>
                            <a class="dropdown-item" href="/personal_message?type=2">
                                <div class="number text-center">{{ user.un_read_fans_num }}</div>
                                查看新粉丝
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 mt-4">
                        <div class="logout mt-2">
                            <a href="/logout/">
                                <img src="{% static 'images/logout.png' %}" alt="">
                                <span>退出</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="portrait text-center">
                        <img src="{{ person.portrait }}" alt="">
                    </div>
                    <div class="username user-info mt-4">
                        <img src="{% static 'images/username.png' %}" alt="">
                        <span>用户名:</span>&nbsp;&nbsp;
                        <span>{{ person.username }}</span>
                    </div>
                    <div class="gender user-info mt-4">
                        <img src="{% static 'images/gender.png' %}" alt="">
                        <span>性别:</span>&nbsp;&nbsp;
                        <span>{{ person.gender }}</span>
                    </div>
                    <div class="college user-info mt-4">
                        <img src="{% static 'images/college.png' %}" alt="">
                        <span>所在学院:</span>&nbsp;&nbsp;
                        <span>{{ person.collegeName }}</span>
                    </div>
                    <div class="birthday user-info mt-4">
                        <img src="{% static 'images/birthday.png' %}" alt="">
                        <span>出生年月:</span>&nbsp;&nbsp;
                        <span>{{ person.birth_year }}年{{ person.birth_month }}月</span>
                    </div>
                    <div class="emotion user-info mt-4">
                        <img src="{% static 'images/emotion_status.png' %}" alt="">
                        <span>情感状态:</span>&nbsp;&nbsp;
                        <span>{{ person.emotion }}</span>
                    </div>
                    <div class="sign user-info mt-4">
                        <img src="{% static 'images/personal_sign.pn' %}" alt="">
                        <span>个性签名:</span>&nbsp;&nbsp;
                        <span>{{ person.sign }}</span>
                    </div>
                    <button id="followBtn" class="mt-4 btn-block btn-primary mt-5">关注TA</button>
                </div>
                <div class="content col-md-9">
                    <ul class="nav nav-tabs">
                        <li class="nav-item col-md-3">
                            {% if type == 1 %}
                                <a class="nav-link active" href="/personal_page_by_other/{{ person.id }}?type=1">TA回复过的帖子</a>
                            {% else %}
                                <a class="nav-link" href="/personal_page_by_other/{{ person.id }}?type=1">TA回复过的帖子</a>
                            {% endif %}
                        </li>
                        <li class="nav-item col-md-3">
                            {% if type == 2 %}
                                <a class="nav-link active" href="/personal_page_by_other/{{ person.id }}?type=2">TA发表的帖子</a>
                            {% else %}
                                <a class="nav-link" href="/personal_page_by_other/{{ person.id }}?type=2">TA发表的帖子</a>
                            {% endif %}
                        </li>
                        <li class="nav-item col-md-2">
                            {% if type == 3 %}
                                <a class="nav-link active" href="/personal_page_by_other/{{ person.id }}?type=3">TA的关注</a>
                            {% else %}
                                <a class="nav-link" href="/personal_page_by_other/{{ person.id }}?type=3">TA的关注</a>
                            {% endif %}
                        </li>
                        <li class="nav-item col-md-2">
                            {% if type == 4 %}
                                <a class="nav-link active" href="/personal_page_by_other/{{ person.id }}?type=4">TA的粉丝</a>
                            {% else %}
                                <a class="nav-link" href="/personal_page_by_other/{{ person.id }}?type=4">TA的粉丝</a>
                            {% endif %}
                        </li>
                    </ul>
                    {% if type == 1 %}
                        <div class="list-replyedPost">
                            {% if person.privacy == 1 %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% elif person.privacy == 2 and not isFans %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% else %}
                                {% for post in replyed_posts %}
                                    <div class="post border-top">
                                        <a href="/post/{{ post.id }}/" target="_blank">
                                            <p class="title mt-1">{{ post.title }}</p>
                                        </a>
                                        <div class="info1">
                                            <a href="/classification/{{ post.type_name }}/" class="info-class" target="_blank">{{ post.type }}</a>
                                            <a href="/personal_page_by_other/{{ post.author.id }}/" class="info-user" target="_blank">{{ post.author.name }}</a>
                                            <span class="info-time">{{ post.publish_time|date:'Y-m-d H:i' }}</span>
                                        </div>
                                        <div class="info2">
                                            浏览:&nbsp;<span class="info-clickNum">{{ post.click_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            回复:&nbsp;<span class="info-replyNum">{{ post.reply_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <!--                                点赞:&nbsp;<span class="info-favNum">34</span>-->
                                        </div>
                                    </div>
                                {% endfor %}
                                <nav aria-label="Page navigation example" class="mt-4">
                                    <ul class="pagination justify-content-center">
                                        {% if page > 1 %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=1&page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=1&page={{ page }}">{{ page }}</a></li>
                                        {% if page < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=1&page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                                        {% endif %}
                                        {% if page|add:1 < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=1&page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                                        {% endif %}
                                        {% if page < page_num %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=1&page={{ page|add:1 }}">下一页</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if type == 2 %}
                        <div class="list-publish">
                            {% if person.privacy == 1 %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% elif person.privacy == 2 and not isFans %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% else %}
                                {% for post in publish_posts %}
                                    <div class="post border-top">
                                        <a href="/post/{{ post.id }}/" target="_blank">
                                            <p class="title mt-1">{{ post.title }}</p>
                                        </a>
                                        <div class="info1">
                                            <a href="/classification/{{ post.type_name }}/" class="info-class" target="_blank">{{ post.type }}</a>
                                            <a href="/personal_page_by_other/{{ post.author.id }}/" class="info-user" target="_blank">{{ post.author.name }}</a>
                                            <span class="info-time">{{ post.publish_time|date:'Y-m-d H:i' }}</span>
                                        </div>
                                        <div class="info2">
                                            浏览:&nbsp;<span class="info-clickNum">{{ post.click_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            回复:&nbsp;<span class="info-replyNum">{{ post.reply_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <!--                                点赞:&nbsp;<span class="info-favNum">34</span>-->
                                        </div>
                                    </div>
                                {% endfor %}
                                <nav aria-label="Page navigation example" class="mt-4">
                                    <ul class="pagination justify-content-center">
                                        {% if page > 1 %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=2&page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=2&page={{ page }}">{{ page }}</a></li>
                                        {% if page < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=2&page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                                        {% endif %}
                                        {% if page|add:1 < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=2&page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                                        {% endif %}
                                        {% if page < page_num %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=2&page={{ page|add:1 }}">下一页</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if type == 3 %}
                        <div class="list-follow">
                            {% if person.privacy == 1 %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% elif person.privacy == 2 and not isFans %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% else %}
                                <div class="info">
                                    <span class="num d-block ml-5 mt-3 mb-2">共 {{ num }} 人</span>
                                </div>
                                {% for user_follow in user_follows %}
                                    <div class="follow border-bottom">
                                        <a href="/personal_page_by_other/{{ user_follow.follower.id }}/" target="_blank">
                                            <img src="{{ user_follow.follower.portrait }}" alt="" class="mr-5">
                                            <span class="mr-3">{{ user_follow.follower.username }}</span>
                                        </a>
                                    </div>
                                {% endfor %}
                                <nav aria-label="Page navigation example" class="mt-4">
                                    <ul class="pagination justify-content-center">
                                        {% if page > 1 %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=3&page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=3&page={{ page }}">{{ page }}</a></li>
                                        {% if page < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=3&page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                                        {% endif %}
                                        {% if page|add:1 < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=3&page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                                        {% endif %}
                                        {% if page < page_num %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=3&page={{ page|add:1 }}">下一页</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if type == 4 %}
                        <div class="list-fans">
                            {% if person.privacy == 1 %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% elif person.privacy == 2 and not isFans %}
                                <img class="ml-5" src="{% static 'images/hide.png' %}" alt="">
                                <h2 class="ml-5">TA好像不想被人看到....</h2>
                            {% else %}
                                <div class="info">
                                    <span class="num d-block ml-5 mt-3 mb-2">共 {{ num }} 人</span>
                                </div>
                                {% for user_by_follow in user_by_follows %}
                                    <div class="follow border-bottom">
                                        <a href="/personal_page_by_other/{{ user_by_follow.user.id }}/" target="_blank">
                                            <img src="{{ user_by_follow.user.portrait }}" alt="" class="mr-5">
                                            <span class="mr-3">{{ user_by_follow.user.username }}</span>
                                        </a>
                                    </div>
                                {% endfor %}
                                <nav aria-label="Page navigation example" class="mt-4">
                                    <ul class="pagination justify-content-center">
                                        {% if page > 1 %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=4&page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=4&page={{ page }}">{{ page }}</a></li>
                                        {% if page < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=4&page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                                        {% endif %}
                                        {% if page|add:1 < page_num %}
                                            <li class="page-item"><a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=4&page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                                        {% endif %}
                                        {% if page < page_num %}
                                            <li class="page-item">
                                                <a class="page-link" target="_self" href="/personal_page_by_other/{{ person.id }}?type=4&page={{ page|add:1 }}">下一页</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script>
        let logo = document.getElementsByClassName("logo");
        let title = document.getElementsByTagName("h1");
        let logoArr = Array.from(logo);
        let titleArr = Array.from(title);

        function fun1(e) {
            window.location.href = '/index/';
        }

        function fun2(e) {
            e.target.style.cursor = "pointer";
        }

        for (let i = 0; i < logoArr.length; i++) {
            logoArr[i].addEventListener("click", fun1);
            logoArr[i].addEventListener("mouseover", fun2);
        }

        for (let i = 0; i < titleArr.length; i++) {
            titleArr[i].addEventListener("click", fun1);
            titleArr[i].addEventListener("mouseover", fun2);
        }

        let searchBtn = document.getElementById("searchBtn");
        let searchText = document.getElementById("searchText");
        searchBtn.addEventListener("click", (e)=>{
            window.location.href = "/search?searchText=" + searchText.value;
        });

        let followBtn = document.getElementById("followBtn");
        followBtn.addEventListener("click", (e)=>{
            let data = {};
            if (followBtn.innerText == "关注TA")
                data.type = 1;
            else
                data.type = 2;
            data.followerId = {{ person.id }};
            $.ajax({
                url: "/follow/",
                data: JSON.stringify(data),
                type: "POST",
                dataType: 'json',
                success: function(re) {
                    if(re.status == '1') {
                        if (followBtn.innerText == "关注TA")
                            followBtn.innerText = "已关注";
                        else
                            followBtn.innerText = "关注TA";
                    }
                }
            });
        });

        {% if isFans %}
            followBtn.innerText = "已关注"
        {% else %}
            followBtn.innerText = "关注TA"
        {% endif %}
    </script>
</body>
</html>