<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>gungun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/Popper.js' %}"></script>
    <script src="{% static 'jQuery/jQuery.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <style>
        a {
            color: black;
        }

        a:hover {
            color: black;
        }

        .fans {
            height: 150px;
            line-height: 150px;
        }

        .fans:hover {
            background: #d6d8d9;
        }

        .fans a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
        }

        .fans a:hover {
            text-decoration: none;
        }

        .fans img {
            width: 80px;
            height: 80px;
        }

        .search{
            width: 100%;
            display: flex;
            margin-top: 30px;
        }

        .search input{
            width: 70%;
            height: 30px;
            outline: none;
            border: 1px solid #00B2EE;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .search button{
            height: 30px;
            background-color: #00B2EE;
            color: white;
            border-style: none;
            outline: none;
        }

        .search button i{
            font-style: normal;
        }

        .search button:hover{
            font-size: 16px;
        }

        .login img {
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <header>
        <div class="container-fluid bg-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <img src="{% static 'images/logo.png' %}" alt="" class="rounded-circle logo">
                    </div>
                    <div class="col-md-2 text-center">
                        <h1 class="mt-4 ml-1">gungun</h1>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="search">
                            <input type="text" placeholder="请输入.." name="" id="searchText" value="" />
                            <button id="searchBtn"><i>搜索</i></button>
                        </div>
                    </div>
                    <div class="dropdown login mt-4 col-md-3">
                        <img src="{{ user.portrait }}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_info/">
                                <img src="{% static 'images/my_info.png' %}" alt="">
                                我的资料
                            </a>
                            <a class="dropdown-item" href="/personal_portrait/">
                                <img src="{% static 'images/my_portrait.png' %}" alt="">
                                修改头像
                            </a>
                            <a class="dropdown-item" href="/personal_dynamic/">
                                <img src="{% static 'images/my_dynamic.png' %}" alt="">
                                我的动态
                            </a>
                            <a class="dropdown-item" href="/personal_follow/">
                                <img src="{% static 'images/my_follows.png' %}" alt="">
                                我的关注
                            </a>
                            <a class="dropdown-item" href="/personal_fans/">
                                <img src="{% static 'images/my_fans.png' %}" alt="">
                                我的粉丝
                            </a>
                            <a class="dropdown-item" href="/personal_privacy/">
                                <img src="{% static 'images/privacy_setting.png' %}" alt="">
                                隐私设置
                            </a>
                            <a class="dropdown-item" href="/personal_password/">
                                <img src="{% static 'images/change_password.png' %}" alt="">
                                修改密码
                            </a>
                            <a class="dropdown-item" href="/personal_face/">
                                <img src="{% static 'images/face.png' %}" alt="">
                                表情包管理
                            </a>
                        </div>
                    </div>
                    <div class="dropdown message mt-4 col-md-2">
                        <img src="{% static 'images/message.png' %}" alt="">
                        <button class="btn btn-info dropdown-toggle" style="color:black;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            我的消息
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/personal_message/">
                                <div class="number text-center">{{ user.un_read_reply_num }}</div>
                                查看新回复
                            </a>
                            <a class="dropdown-item" href="/personal_message?type=2">
                                <div class="number text-center">{{ user.un_read_fans_num }}</div>
                                查看新粉丝
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 mt-4">
                        <div class="logout mt-2">
                            <a href="/logout/">
                                <img src="{% static 'images/logout.png' %}" alt="">
                                <span>退出</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row mt-3">
                <div class="content col-md-10">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            {% if type == 1 %}
                                <a class="nav-link active" href="/personal_message/">查看新回复</a>
                            {% else %}
                                <a class="nav-link" href="/personal_message/">查看新回复</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if type == 2 %}
                                <a class="nav-link active" href="/personal_message?type=2">查看新粉丝</a>
                            {% else %}
                                <a class="nav-link" href="/personal_message?type=2">查看新粉丝</a>
                            {% endif %}
                        </li>
                    </ul>
                    {% if type == 1 %}
                        <div class="list-reply">
                            {% for reply in replys %}
                                <div class="border-top">
                                    <div class="reply-info">
                                        <span class="mr-5">{{ reply.author.username }}</span>
                                        <span>{{ reply.publish_time|date:'Y-m-d H:i' }}</span>
                                    </div>
                                    <div class="post mt-3">
                                        <span>回复我的帖子：</span>
                                        <a href="/post/{{ reply.post.id }}/">
                                            {{ reply.post.title }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if type == 2 %}
                        <div class="list-fans">
                            {% for user_follow in user_follows %}
                                <div class="fans border-bottom">
                                    <a href="/personal_page_by_other/{{ user_follow.user.id }}/">
                                        <img src="{{ user_follow.user.portrait }}" alt="" class="mr-5">
                                        <span class="mr-3">{{ user_follow.user.username }}</span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script>
        let logo = document.getElementsByClassName("logo");
        let title = document.getElementsByTagName("h1");
        let logoArr = Array.from(logo);
        let titleArr = Array.from(title);

        function fun1(e) {
            window.location.href = '/index/';
        }

        function fun2(e) {
            e.target.style.cursor = "pointer";
        }

        for (let i = 0; i < logoArr.length; i++) {
            logoArr[i].addEventListener("click", fun1);
            logoArr[i].addEventListener("mouseover", fun2);
        }

        for (let i = 0; i < titleArr.length; i++) {
            titleArr[i].addEventListener("click", fun1);
            titleArr[i].addEventListener("mouseover", fun2);
        }
        let activeClassifications = document.getElementsByClassName("activeClassification");
        if (activeClassifications.length > 0) {
            activeClassification = activeClassifications[0];
            activeClassification.style.backgroundColor = "#DCDCDC";
        }

        let searchBtn = document.getElementById("searchBtn");
        let searchText = document.getElementById("searchText");
        searchBtn.addEventListener("click", (e)=>{
            window.location.href = "/search?searchText=" + searchText.value;
        });
    </script>
</body>
</html>