<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仙交BBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/common.js"></script>
    <script src="../../static/jQuery/jQuery.js"></script>
    <script src="../../static/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <script src="../../static/js/wangEditor.js"></script>
    <link rel="stylesheet" href="../../static/bootstrap-4.4.1-dist/css/bootstrap.css">
    <style>
        .reply {
            position: relative;
            padding-bottom: 15px;
        }

        .reply-info {
            bottom: 0px;
            position: absolute;
        }

        .reply-content {
            margin-bottom: 45px;
        }

        .search{
            width: 100%;
            display: flex;
            margin-top: 30px;
        }

        .search input{
            width: 70%;
            height: 30px;
            outline: none;
            border: 1px solid #00B2EE;
            box-sizing: border-box;
            padding-left: 10px;
        }

        .search button{
            height: 30px;
            background-color: #00B2EE;
            color: white;
            border-style: none;
            outline: none;
        }

        .search button i{
            font-style: normal;
        }

        .search button:hover{
            font-size: 16px;
        }

        .delete {
            right:50px
        }

        img {
            display:block;
        }
    </style>
    <base target="_blank">
</head>
<body>
    <header>
        <div class="container-fluid bg-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <img src="../../static/images/logo.jpg" alt="" class="rounded-circle logo">
                    </div>
                    <div class="col-md-2 text-center">
                        <h1 class="mt-4 ml-1">仙交BBS</h1>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="search">
                            <input type="text" placeholder="请输入.." name="" id="searchText" value="" />
                            <button id="searchBtn"><i>搜索</i></button>
                        </div>
                    </div>
<!--                    <div class="col-md-1 text-center">-->
<!--                        <div class="register mt-4">-->
<!--                            <a href="">-->
<!--                                <img src="../../static/images/注册.png" alt="">-->
<!--                                <span>注册</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-4 text-center">
                        <div class="login mt-4">
                            <a href="">
                                <img src="../../static/images/登陆.png" alt="">
                                <span>{{ username }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <div class="logout mt-4">
                            <a href="/logout/">
                                <img src="../../static/images/退出.png" alt="">
                                <span>退出</span>
                            </a>
                        </div>
                    </div>
<!--                    <div class="col-md-2 text-center">-->
<!--                        <div class="info mt-4">-->
<!--                            <a href="">-->
<!--                                <img src="../../static/images/个人资料.png" alt="">-->
<!--                                <span>个人中心</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </header>
    <main class="mt-3">
        <div class="container">
            <div class="row">
                <nav aria-label="Page navigation example" class="top-nav col-4 offset-8">
                    <ul class="pagination justify-content-center">
                        {% if page > 1 %}
                            <li class="page-item">
                                <a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                            </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page }}">{{ page }}</a></li>
                        {% if page < page_num %}
                            <li class="page-item"><a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                        {% endif %}
                        {% if page|add:1 < page_num %}
                            <li class="page-item"><a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                        {% endif %}
                        {% if page < page_num %}
                            <li class="page-item">
                                <a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:1 }}">下一页</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% if page == 1 %}
                <div class="row border-bottom">
                <div class="col-2 mt-5">
                    <p>{{ post_info.author.username }}</p>
                    <p>1楼</p>
                </div>
                <div class="col-10">
                    <h1>{{ post_info.title }}</h1>
                    <div class="post-info position-relative">
                        <span>{{ post_info.publish_time|date:'Y-m-d H:i' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        浏览&nbsp;<span>{{ post_info.click_num }}</span>&nbsp;&nbsp;
                        回复&nbsp;<span>{{ post_info.reply_num }}</span>&nbsp;&nbsp;
                        {% if post_info.author.username == username %}
                            <a href="/delete/{{ post_info.id }}/" target="_self" class="position-absolute delete">删除</a>
                        {% endif %}
                    </div>
                    {% autoescape off %}
                    <div class="post-content mt-3">
                    </div>
                    {% endautoescape %}
                </div>
            </div>
            {% endif %}
            {% for reply in replys %}
                <div class="row border-bottom reply ">
                    <div class="col-2 mt-5">
                        <p>{{ reply.author.username }}</p>
                        <p>{{ reply.num }}楼</p>
                    </div>
                    <div class="col-10 ">
                        {% autoescape off %}
                        <div class="reply-content mt-3">
                        </div>
                        {% endautoescape %}
                        <div class="reply-info">
                            <span>{{ reply.publish_time|date:'Y-m-d H:i' }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row mt-3">
                <nav aria-label="Page navigation example" class="top-nav col-4">
                    <ul class="pagination justify-content-center">
                        {% if page > 1 %}
                            <li class="page-item">
                                <a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:-1 }}" tabindex="-1">上一页</a>
                            </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page }}">{{ page }}</a></li>
                        {% if page < page_num %}
                            <li class="page-item"><a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:1 }}">{{ page|add:1 }}</a></li>
                        {% endif %}
                        {% if page|add:1 < page_num %}
                            <li class="page-item"><a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:2 }}">{{ page|add:2 }}</a></li>
                        {% endif %}
                        {% if page < page_num %}
                            <li class="page-item">
                                <a class="page-link" target="_self" href="/post/{{ post_info.id }}?page={{ page|add:1 }}">下一页</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="editDiv">
                <div id="edit-content"></div>
                <button id="publish" class="btn btn-outline-primary d-block ml-auto mr-auto mt-3">发布</button>
                <div id="content"></div>
            </div>
        </div>
    </main>
    <script>
        let postNodes = document.getElementsByClassName("post-content");
        if (postNodes.length > 0) {
            let postNode = postNodes[0];
            {% autoescape off %}
                Json2Html({{ post_info.content }}, postNode);
            {% endautoescape%}
        }

        let replyNodes = document.getElementsByClassName("reply-content");
        {% for reply in replys %}
            {% autoescape off %}
                Json2Html({{ reply.content }}, replyNodes[{{ forloop.counter|add:-1 }}]);
            {% endautoescape%}
        {% endfor %}

        let logo = document.getElementsByClassName("logo");
        let title = document.getElementsByTagName("h1");
        let logoArr = Array.from(logo);
        let titleArr = Array.from(title);

        function fun1(e) {
            window.location.href = '/index/';
        }

        function fun2(e) {
            e.target.style.cursor = "pointer";
        }

        for (let i = 0; i < logoArr.length; i++) {
            logoArr[i].addEventListener("click", fun1);
            logoArr[i].addEventListener("mouseover", fun2);
        }

        for (let i = 0; i < titleArr.length; i++) {
            titleArr[i].addEventListener("click", fun1);
            titleArr[i].addEventListener("mouseover", fun2);
        }

        searchBtn.addEventListener("click", (e)=>{
            window.location.href = "/search?searchText=" + searchText.value;
        });


        var E = window.wangEditor;
        var editor = new E('#edit-content');
        editor.customConfig.uploadImgShowBase64 = true;
        editor.create();

        let publistBtn = document.getElementById("publish");
        publistBtn.addEventListener("click", (e)=>{
            var httpRequest = new XMLHttpRequest();
            httpRequest.open('POST', '/reply/{{ post_info.id }}/', true);
            httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            let obj = {"content": editor.txt.getJSON()};
            httpRequest.send(JSON.stringify(obj));
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    window.location.href = "/post/{{ post_info.id }}/"
                }
            };
        });
    </script>
</body>
</html>